body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo img {
    width: 200px;
    height: auto;
}

.language-options {
    font-size: 16px;
}

.language-options span {
    margin-right: 10px;
    cursor: pointer;
}

.language-options span:last-child {
    margin-right: 0;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    padding-top: 100px;
}

.content {
    width: 100%;
}

.question li {
    list-style-type: none;
}

.question ul {
    padding-left: 0%;
}

.submit {
    padding-top: 20px;
}

.submit-button {
    background-color: #2a5d73;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.submit-button:hover {
    background-color: #1c3f4e;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    backdrop-filter: blur(10px);
}

.results-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    width: 500px;
    max-width: 80%;
}

.result-section {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.success {
    background-color: #4CAF50;
    display: none;
}

.warning {
    background-color: #FFC107;
    display: none;
}

.error {
    background-color: #FF5722;
    display: none;
}

.result-content {
    margin-top: 10px;
}

.results-box button {
    background-color: #2a5d73;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.results-box button:hover {
    background-color: #1c3f4e;
}

footer {
    background-color: #faf7f7;
    margin-top: 20px;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: black;
}


@media (max-width: 768px) {
    .container {
        padding: 0 10px;
        padding-top: 80px;
    }

    .app-header {
        padding: 10px;
    }

    .logo img {
        width: 140px;
    }

    .language-options {
        font-size: 14px;
    }
}